<h2>User info</h2>

<!-- form_with -->


  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>
  <br>
  <%= form_with model:@user, local:true do |f| %>
    <div class="form-group has-icon">
    <div class="user-edit-image">
      <%= attachment_image_tag @user, :image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
    </div>
    <label class="control-label sr-only" for="inputEmail">Image</label>
    <p><%= f.attachment_field :image, class: "user-edit-form" %></p>
  </div>

  <label class="user-info-name">Name</label>
        <p><%= f.text_field :user_name, class:"form-control" %>
        <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
        </p>
  <div class="row">
  <label class="user-info-introduction">Introduction</label>
     <p> <%= f.text_area :introduction, class:"form-control" %>
     <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
     </p>
 </div>
  <hr>
  <%= f.submit "UpdateUser", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>